{% extends 'password_base.html' %}

{% block content %}
<div class="well">
  <form class="form-recovery" method="post">
    {% csrf_token %}
    <h2 class="title">Recuperação de senha</h2>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">E-mail: </label>
        <input class="input-email" type="email" name="email" autocomplete="email" maxlength="254" id="id_email" required>
        <span role="alert" id="emailError" aria-hidden="true">
          Digite um endereço de e-mail válido.
        </span>      
    </div>
    <div class="help-block with-errors"></div>
    <div class="input-button">
      <input type="submit" value="Recuperar minha senha" class="btn btn-primary">
    </div>
  </form>
</div>
{% endblock %}