{% extends 'password_base.html' %}

{% block content %}
  <div class="well">
    <h1 class="mb-5">Redefinição de senha enviada</h1>
    <p class="mx-5">
      Nós lhe enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá uma mensagem em breve!
    </p>
    <p class="mx-5">
      Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado e verifique sua pasta de spam.
    </p>
    <button type="button" class="btn btn-primary">
      <a class="text-decoration-none text-white" href="/">Voltar</a>      
    </button>
  </div>
{% endblock %}