{% extends 'password_base.html' %}

{% block content %}
  <div class="well">
    {% if validlink %}
      <h3 class="mb-5">Alterar senha</h3>
      <form method="post" class="form-change-password">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"class="btn btn-primary button-change button-change">Alterar senha</button>
      </form>
    {% else %}
      <p>
        O link para recuperação de senha é inválido, possivelmente já foi utilizado.
        Por favor, solicite uma nova recuperação de senha.
      </p>
    {% endif %}
  </div>
{% endblock %}