body {
  margin: 0 auto;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px 30px;
}

.header-logo img {
  max-width: 200px;
}

.header-menu ul,
.header-menu-cadastro ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-menu ul li,
.header-menu-logout ul li {
  list-style: none;
  padding: 10px;
}

.header-menu a,
.header-menu-cadastro a {
  text-decoration: none;
  text-transform: capitalize;
  color: #190F55;
}

.header-menu a:hover {

  color: #D50087;
}

.intro {
  background-image: url('../img/10168.jpg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
  min-height: 350px;
}

.about-bg {
  background-color: #f9f9f9;
}

.about {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

footer {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .intro {
    background-image: none;
    background-size: 100%;
  }

  .content-text {
    width: 100%;
    text-align: center;
  }

}

#nameError,
#emailError,
#passwordError,
#emailLoginError,
#newPasswordError {
  display: none;
}

#nameError,
#emailError,
#passwordError,
#emailLoginError,
#newPasswordError,
#newPasswordConfirmError {
  display: none;
  font-size: 0.8em;
}

#nameError.visible,
#emailError.visible,
#passwordError.visible,
#emailLoginError.visible,
#newPasswordError.visible,
#newPasswordConfirmError.visible {
  display: block;
  color: red;
}

input.invalid {
  border-color: red;
}

/* tela de login */

.login-redirect {
  display: block;
  padding-top: 16px;
}

.login-link {
  text-decoration: underline;
  color: #CB6CE6;
}

.login-error {
  color: red;
}

.login-success {
  color: green;
}


/*recuperação de senha*/
.well {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.btn-large {
  width: 100%;
}

.title {
  margin-bottom: 20px;
}

.errorlist{
  color: red;
  font-weight: bold;
}

.input-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-change-password{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.form-change-password ul{
  order: 1;
  font-size: 12px;
  margin-top: 20px;

}

.button-change{
 width: 250px;
 padding:0 10px;
}

.form-change-password p{
  max-width: 250px;
}

.form-change-password p input{ 
  width: 100%;
}